.destination-card {
    border-radius: 18px;
    border: 2px solid #f49e11;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.destination-card h2 {
    margin-top: 350px;
}
.destination-card-one {
    background-image: url("../../images/Sajek.png");
}
.destination-card-two {
    background-image: url("../../images/Sreemongol.png");
}
.destination-card-three {
    background-image: url("../../images/sundorbon.png");
}
.destination-card:a {
    color: white;
}
